body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.greater {
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.equal {
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.less {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.button {
  margin-top: 5px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin-left: 140px;
}

.price {
  margin: 10px;
}
